# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: GraphQL Orchestrator Java Maven Action

on:
  push:
    branches: [ gh-workflow ]
  pull_request:
    branches: [ master ]  

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        
    - name: Build with Maven
      if: ${{ github.ref != 'refs/heads/master' }}
      run: mvn -B package --file pom.xml

    - name: Publish Snapshot to OSS Maven Repository
      if: ${{ github.ref == 'refs/heads/gh-workflow' }}
      run: mvn -B --batch-mode deploy --file pom.xml
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
